.custom-navbar {
  justify-content: end;
}

.right-img{
 animation: MoveUp 2s linear infinite alternate-reverse both;
 text-align: center;
}
.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #f9eded;
  min-height: 72px;
}
@keyframes MoveUp{

0%{

  transform: translateY(15px);
}
100%{

  transform: translateY(-15px);
}

}
@-webkit-keyframes MoveUp{

  0%{
  
    transform: translateY(15px);
  }
  100%{
  
    transform: translateY(-15px);
  }
  
  }
  .service_card{
    padding:20px;
  }
  .service_card_img{
    min-height:250px;

  }
  .service_card h1{

    font-size:23px;
    font-weight:700;
  }
  .card-btn{
    text-decoration: none;
  }

@media(max-width:767px){
  .left.col-sm-mt-5 {
    margin-top: 50px;
    margin: 50px auto;
    margin-bottom: 0;
    text-align: center;
}
}